.gallerySection{
  .image-card{
    .image-card_overview{
      position: relative;

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0, 0.3);
        transition: all .4s ease-in-out;
      }

      &:hover{
        &:before{
          content: '';
          display: block;
          background: rgba(0,0,0, 0.5);
        }
      }

      h1 {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
