.gallerySection {
  /* Style your items */
}
.gallerySection .image-card_overview {
  position: relative;
  cursor: pointer;
}
.gallerySection .image-card_overview h1 {
  position: absolute;
  bottom: 2rem;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.gallerySection .image-card_overview:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 550px) {
  .gallerySection .image-card_overview:before {
    background: rgba(0, 0, 0, 0.3);
  }
  .gallerySection .image-card_overview h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gallerySection .image-card_overview:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
.gallerySection .image-card_overview:hover h1 {
  opacity: 1;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1024px) {
  .gallerySection .image-card_overview:hover h1 {
    left: 2rem;
    bottom: 2rem;
  }
}
@media (max-width: 550px) {
  .gallerySection .image-card_overview:hover:before {
    background: rgba(0, 0, 0, 0.3);
  }
  .gallerySection .image-card_overview:hover h1 {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.gallerySection .my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5px;
  /* gutter size offset */
  width: auto;
}
.gallerySection .my-masonry-grid_column {
  padding-left: 5px;
  /* gutter size */
  background-clip: padding-box;
}
.gallerySection .my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}

.fancy-wrapper {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}
.fancy-wrapper .wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fancy-wrapper .wrap .spinner-wrap {
  position: absolute;
  top: 0;
  right: calc(50% - 100px);
}
.fancy-wrapper .wrap .spinner-wrap .spinner {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: -50px auto 0;
  animation: spin 1s steps(12, end) infinite;
}
.fancy-wrapper .wrap .spinner-wrap .spinner:first-child {
  margin-right: 50px;
}
.fancy-wrapper .wrap .spinner-wrap .spinner i {
  height: 30px;
  width: 6px;
  margin-left: -3px;
  display: block;
  transition: height 1s;
  position: absolute;
  left: 50%;
  transform-origin: center 50px;
  background: #000;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.fancy-wrapper .wrap .spinner-wrap .spinner:nth-child(2) i {
  height: 6px;
}
.fancy-wrapper .wrap .spinner-wrap .spinner:hover i {
  height: 6px;
}
.fancy-wrapper .wrap .spinner-wrap .spinner:hover:nth-child(2) i {
  height: 30px;
}
.fancy-wrapper .spinner i:nth-child(1) {
  opacity: 0.08;
}
.fancy-wrapper .spinner i:nth-child(2) {
  transform: rotate(30deg);
  opacity: 0.167;
}
.fancy-wrapper .spinner i:nth-child(3) {
  transform: rotate(60deg);
  opacity: 0.25;
}
.fancy-wrapper .spinner i:nth-child(4) {
  transform: rotate(90deg);
  opacity: 0.33;
}
.fancy-wrapper .spinner i:nth-child(5) {
  transform: rotate(120deg);
  opacity: 0.4167;
}
.fancy-wrapper .spinner i:nth-child(6) {
  transform: rotate(150deg);
  opacity: 0.5;
}
.fancy-wrapper .spinner i:nth-child(7) {
  transform: rotate(180deg);
  opacity: 0.583;
}
.fancy-wrapper .spinner i:nth-child(8) {
  transform: rotate(210deg);
  opacity: 0.67;
}
.fancy-wrapper .spinner i:nth-child(9) {
  transform: rotate(240deg);
  opacity: 0.75;
}
.fancy-wrapper .spinner i:nth-child(10) {
  transform: rotate(270deg);
  opacity: 0.833;
}
.fancy-wrapper .spinner i:nth-child(11) {
  transform: rotate(300deg);
  opacity: 0.9167;
}
.fancy-wrapper .spinner i:nth-child(12) {
  transform: rotate(330deg);
  opacity: 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=gallerySection.css.map */
